<%- include("./partials/head.ejs") %>

  <header>
    <%- include("./partials/navbar.ejs") %>
  </header>
  <main>
    <% if (!create) { %>
      <h1>Hello World</h1>
      <% } else { %>
        <form>
          <div class="flex justify-center items-center">
            <div class="border border-neutral-400 rounded-lg py-6 px-12 mt-4 bg-slate-200">
              <h2 class="text-base font-semibold leading-7 text-gray-900 text-center">Create Message</h2>

              <div class="mt-2">
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                <div class="mt-2">
                  <input id="email" name="email" type="email" autocomplete="email"
                    class="block w-64 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 sm:text-sm sm:leading-6"
                    placeholder="Recipient's Name">
                </div>
              </div>

              <div class="mt-2">
                <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Message</label>
                <div class="mt-2">
                  <textarea id="about" name="about" rows="3"
                    class="block w-64 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 sm:text-sm sm:leading-6"></textarea>
                </div>
              </div>

              <div class="mt-2">
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                <div class="mt-2">
                  <input id="email" name="email" type="email" autocomplete="email"
                    class="block w-64 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 sm:text-sm sm:leading-6"
                    placeholder="Email">
                </div>
              </div>

              <div class="mt-2">
                <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Country</label>
                <input id="country" name="email" type="email" autocomplete="email"
                  class="block w-64 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 sm:text-sm sm:leading-6" placeholder="Indonesia">
              </div>

              <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                <button type="submit"
                  class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
              </div>
            </div>
          </div>
        </form>
        <% } %>


  </main>

  <%- include("./partials/end.ejs") %>